body {
    margin: 0;
    padding: 50px 120px;
    font-family: Segoe UI;
    background-color: #f4f4f4;
}

h1 {
    margin-bottom: 20px;
}

.cards {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
}

.card {
    background-color: white;
    padding: 20px;
    min-width: 400px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-weight: bold;
}

.buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 30px;
    font-family: Segoe UI;
}

.btnSearch {
    padding: 10px 20px;
    border: none;
    background-color: #078ff0;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-family: Segoe UI;
    font-size: 16px;
}

.search {
    height: 45px;
    width: 220px;
    padding: 0 15px;
    border: none;
    border-radius: 6px;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-family: Segoe UI;
    font-size: 16px;
}

.semp {
    height: 45px;
    width: 220px;
    padding: 0 15px;
    border: none;
    border-radius: 6px;
    background-color: #fff;
    color: #000;
    font-size: 20px;
    font-family: Segoe UI;
    font-size: 16px;
}

.btndepartments {
    padding: 10px 20px;
    border: none;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-family: Segoe UI;
    font-size: 16px;
}

.btnSort {
    padding: 10px 20px;
    border: none;
    background-color: #e4dede;
    color: #444;
    border-radius: 5px;
    cursor: pointer;
    font-family: Segoe UI;
    font-size: 16px;
}

table {
    width: 100%;
    background-color: white;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

th {
    background-color: #078ff0;
    color: white;
    padding: 12px;
    text-align: left;
}

td {
    padding: 12px;
}

.edit-btn {
    background-color: #ffc107;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-btn {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 6px 12px;
    border-radius: 4px;
    cursor: pointer;
}

.modal {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    height: 100px;
    width: 100%;
    background-color: #00000078;
    visibility: hidden;
}

.addemployeework {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 370px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px;

}

.addemployeework h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.addemployeework .search {
    width: 320px;
    height: 50px;
    padding: 0 12px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.addemployeework .name {
    width: 320px;
    height: 50px;
    padding: 0 12px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.addemployeework .salary {
    width: 320px;
    height: 50px;
    padding: 0 12px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.addemployeework .save {
    width: 20%;
    height: 40px;
    background-color: #0078ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 18px;
}